.container-top {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 100px;
  }
  .searching {
    margin-right: 20px;
    padding: 10px;
    height: 23px;
    width: 230px;
    border: solid 2px #302e53;
    font-family: 'Roboto', sans-serif;
    
  }
  .txtFind {
    height: 30px;
    width: 200px;
    border: none;
    outline: 0;
    font-size: 16px;
  }
  .search-icon {
    height: 20px;
  }
  .filter {
    margin-right: 25px;
    padding: 10px;
  }
  .filter_select {
    width: 120px;
    height: 47px;
    border: solid 2px #302e53;
    background-color: white;
    font-size: 16px;
    outline: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  .filter_select option {
    text-align: center;
  }
  