
.theNews {
  width: 680px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  justify-content: space-around;
}
.theNewsImage{
  width: 200px;
  height: 250px;
  display: flex;
  align-items: center;
}

.theNewsImage img {
  width: 200px;
  height: 180px;
  margin-right: 30px;
}

.theNewsInfo {
  width: 450px;
  height: 250px;
  margin-top: 10px;
}


.theNewsInfo h1 {
  height: 40px;
}