@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.modal {
    display: flex;
    justify-content: space-between;
    border-color: #302E53;
}
.modalImage {
    width: 200px;
    height: 200px;
}
.modalImage img{
    width: 200px;
    height: 200px;
}
.modalInfo {
    width: 400px;
    height: 200px;
}
.modalBtn {
    height: 30px;
    width: 110px;
    background: #D07017 ;
    border-color: #D07017 ;
   
}
.modalBtn a{
    text-decoration: none;
    color: #302E53;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.btnVerMais {
    background: #D07017 ;
    border: #D07017 ;
    color: #302E53;
    font-weight: bold;
    height: 20px;
    width: 90px;
}
.btnVerMais:hover{
    cursor: pointer;
}