.modal {
    display: flex;
    justify-content: space-between;
    border-color: #302E53;
  }
  .modalImage {
    width: 200px;
    height: 200px;
  }
  .modalImage img{
    width: 200px;
    height: 200px;
  }
  .modalInfo {
    width: 400px;
    height: 200px;
  }

  .modalInfo p{
    margin-top: 5%;
  }
  
  
  .modalBtn {
    height: 30px;
    width: 110px;
    background: #302E53;
    border-color: #302E53;
    border-radius: 6%;
  }
  .modalBtn a{
    text-decoration: none;
    color: #D07017;
    font-weight: bold;
  }

  .closeBtn {
    height: 30px;
    width: 110px;
    background: #1E2022 ;
    border-color: #1E2022;
    text-decoration: none;
    color: #D07017;
    font-weight: bold;
    margin-left: 20%;
    margin-top: 4%;
    border-radius: 6%;
   
  }
  