@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.btn_mostrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100px;
  padding-bottom: 30px;
}

.btn_mostrar button {
  height: 30px;
  border-color: #302e53;
  background-color: #d07017;
  color: #302e53;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
}
